*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 5rem;
}

.icono{
    font-size: 1.3rem;
    color: rgb(114, 104, 104);
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: lighter;
    cursor: pointer;
}
.fa-close{
    font-size: 1.6rem;
}

.logo{
    flex: 1 1 auto;
    text-align: center;
}
.logo img{
    width: 4.5rem;
    height: 4.5rem;
}

.navbar-nav{
    position: absolute;
    top: 5rem;
    left: 0;
    width: 75vw;
    padding-top: 2rem;
    height: calc(100vh - 5rem);
    background-color: white;
    color: black;
    z-index: 1000;
    transition: transform .6s ease;
    -moz-transition: transform .6s ease;
    -ms-transition: transform .6s ease;
    -o-transition: transform .6s ease;
    -webkit-transition: transform .6s ease;
}

.nav-close{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform .6s ease;
    -moz-transition: transform .6s ease;
    -ms-transition: transform .6s ease;
    -o-transition: transform .6s ease;
    -webkit-transition: transform .6s ease;
}

.navbar-nav .active{
    background-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .7);
}

.nav-item{
    font-size: 1.4rem;
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    padding: .8rem 1rem;
    display: block;
}

.nav-search{
    z-index: 1001;
    transition: transform .6s ease;
    -webkit-transition: transform .6s ease;
    -moz-transition: transform .6s ease;
    -ms-transition: transform .6s ease;
    -o-transition: transform .6s ease;
}

.search-close{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: transform .6s ease;
    -webkit-transition: transform .6s ease;
    -moz-transition: transform .6s ease;
    -ms-transition: transform .6s ease;
    -o-transition: transform .6s ease;
}

.nav-redes{
    background-color: rgba(0, 0, 0, .1);
}

.banner{
    width: 100vw;
    height: 60vh;
}



@media screen and (min-width: 576px){
    .logo{
        flex: 0 0 auto;
    }

    .icono{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .navbar-nav{
        position: static;
        width: auto;
        height: auto;
        padding-top: 0;
        background-color: transparent;
        flex: 1 0 auto;
        padding-left: 2rem;
    }
    .navbar-nav .active{
        background-color: transparent;
        color: rgba(0, 0, 0, .7);
        border-bottom: 1px solid rgba(0, 0, 0, .7);
    }
    .nav-item{
        display: inline;
        padding: 0;
        font-size: 1rem;
    }
    .nav-item:hover{
        color: rgba(0, 0, 0, .7);
    }

    .nav-search{
        position: static;
        width: auto;
    }
}